<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.egg"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
   <!-- <uses-permission android:name="android.permission.BLUETOOTH" />  -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.test.egg.begin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       
        <activity
            android:name=".lurunaodianbo">
        </activity>
        
        <activity
            android:name=".gongneng">
        </activity>
        
        <activity
            android:name=".naodianboluzhi">
        </activity>
        
        <activity
            android:name=".shangkuang">
        </activity>
        
        <activity
            android:name=".xiakuang">
        </activity>
        
        <activity
            android:name=".zuokuang">
        </activity>
        
        <activity
            android:name=".youkuang">
        </activity>
        
        <activity
            android:name=".zhongyuan">
        </activity>

        
    </application>

</manifest>
